/*Cabeçalho*/
.container ul li a:hover {
    transform: scale(1.1);
}


/*FIltro de óculos*/
#loja {
    padding-top: 50px;
}

#loja a img:hover {
    opacity: 85%;
}

/* Carrosel de promoções   */
.titulo-promocao {
    text-align: center;
    padding-top: 100px;
}

.card {
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
    padding: 10px;
    overflow: hidden;
}

.cards-wrapper {
    display: flex;
    justify-content: center;
}

.card img {
    max-width: 287px;
    max-height: 240px;
    width: 100%;
    object-fit: cover;
    margin: 0 auto;
    background: #f2f2f2;
    height: auto;
    border-radius: 10px;
}

.carousel-inner {
    padding: 1em;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: black;
    height: 80px;
    border-radius: 50%;
}

.container a img {
    border-radius: 10px;
}

#carouselExampleControls {
    padding-bottom: 50px;
    width: 100%;
}

.card-title {
    text-align: center;
    font-family: monospace;
}

.card-text {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

@media (min-width: 768px) {
    .card img {
        height: 11em;
    }
}

.card a img:hover {
    /*ZOOM da img*/
    transition: 0.3s;
    transform: scale(1.2);
}

.detalhes-promocao {
    padding-top: 15px;
}

/*Div final*/
.fim {
    background-color: #284d59;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
}

.fim h5 {
    color: white;
    font-family: monospace;
    padding-bottom: 10px;
}

.fim ul li {
    padding-top: 7px;
    color: white;
    font-size: 18px;
    list-style: none;
}

.fim ul li a {
    text-decoration: none;
    color: inherit;
}

.fim ul li a:hover {
    color: rgb(152, 150, 150);
}

.redes-sociais ul li a img {
    padding: 10px;
    background-color: white;
}

.redes-sociais ul li a img:hover {
    color: white;
    border-radius: 5px solid red;
}

.redes-sociais ul li a img:hover {
    transition: 0.3s;
    transform: scale(1.5);
}